In [ ]:
!pip install pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [ ]:
ipl = pd.read_csv('Data/ipl-matches.csv')
movies = pd.read_csv('Data/movies.csv')

In [ ]:
# find all the final winners
ipl[ipl['MatchNumber'] == 'Final'][['Season','WinningTeam']]
# value_counts()

In [ ]:
ipl[ipl['MatchNumber'] == 'Final'][['WinningTeam']].value_counts()

In [ ]:
ipl[ipl['SuperOver']=='Y'].shape[0]

In [ ]:
# how many super over finishes have occured
ipl['SuperOver'].unique()
ipl[ipl['SuperOver'] == 'Y'].shape[0]

In [ ]:
ipl[(ipl['WinningTeam'] == 'Royal Challengers Bangalore') & (ipl['City'] == 'Bangalore')].shape[0]

In [ ]:
# how many matches has RCB won in Banglore
mask1 = ipl['City'] == 'Bangalore'
mask2 = ipl['WinningTeam']== 'Royal Challengers Bangalore'

print(f"THE total number matches won by RCB in Banglore is {ipl[mask1 & mask2].shape[0]}.")

In [ ]:
a = ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]
b = ipl.shape[0]
a/b * 100

In [ ]:
# toss winner is match winner in percentage
toss_winner = ipl[ipl['TossWinner'] == ipl['WinningTeam']].shape[0]
total_matches = ipl.shape[0]

np.round((toss_winner/total_matches) * 100,decimals=2)

In [ ]:
# movies with rating higher than 8 and votes>10000
movies[(movies['imdb_rating'] > 8) & (movies['imdb_votes'] > 10000)]['title_x']

In [ ]:
movies[(movies['genres'].str.split("|").apply(lambda x : 'Action' in x)) & (movies['imdb_rating'] > 7.5)]['title_x']

In [ ]:
l= [ 'Drama', 'War']
'Action' in l

In [ ]:
movies['genres'].str.contains('Action')

In [ ]:
# Action movies with rating higher than 7.5
temp = movies[movies['genres'].str.split("|").apply(lambda x : "Action" in x)]

In [ ]:
temp[temp['imdb_rating'] > 7.5]['title_x']

In [ ]:
action_checker = lambda x : "Action" in x

In [ ]:
action_checker(['Drama', 'Romance'])

In [ ]:
c1 = movies['genres'].str.contains('Action')
c2 = movies['imdb_rating'] > 8
movies[(c1) & (c2)].shape

In [ ]:
# value_counts 
data = {
    'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'A', 'C', 'B', 'B']
}

df = pd.DataFrame(data)
df

In [ ]:
df.value_counts()

In [ ]:
ipl['WinningTeam'].value_counts().sort_values(ascending=False)

In [ ]:
ipl['MatchNumber'].unique()

In [ ]:
ipl[~ipl['MatchNumber'].str.isdigit()]['Player_of_Match'].value_counts()

In [ ]:
ipl[~ipl['MatchNumber'].str.isdigit()]['Player_of_Match'].value_counts()

In [ ]:
ipl[ipl['MatchNumber'].isin(['Final','Semi Final',])]['Player_of_Match'].value_counts()

In [ ]:
# find which player has won most man of the match in finals and semifinals
ipl[ipl['MatchNumber'].isin(['Final','Semi Final',])]['Player_of_Match'].value_counts()

In [ ]:
# After winning toss what the winning team prefers
ipl['TossDecision'].value_counts().reset_index().iloc[0,0]
ipl['TossDecision'].value_counts().plot(kind="pie")

In [ ]:
# how many matches each team has played
ipl[['Team1','Team2']]
(ipl['Team1'].value_counts()  + ipl['Team2'].value_counts()).sort_values(ascending=False)

In [ ]:
# sorting

In [ ]:
movies.sort_values(['runtime'],ascending=False,na_position='last')

In [ ]:
movies.sort_values(['year_of_release','title_x'],ascending=[False,True])[['year_of_release','title_x']]

In [ ]:
df = pd.read_excel('Data/fighter_details.xlsx')

In [ ]:
# pip install openpyxl

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df

In [ ]:
df[df['Name'] =='Charles Oliveira']

In [ ]:
df.info()

In [ ]:
# rename

df.rename(columns={'Division Title' : "Division",
                  'Division Body_Wins' : 'Wins',
                  'Division Body_Losses' : 'Losses',
                  'Division Body_Draws' : "Draws"},inplace=True)

In [ ]:
# set index
df.set_index('Name',inplace=True)

In [ ]:
df.loc['Randy Couture']

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df

In [ ]:
# unique --> couonts null
ipl['Season'].nunique()

In [ ]:
df['Nickname'].replace({'Null': None},inplace=True)

In [ ]:
df['Nickname'].isnull().sum()

In [ ]:
df['Nickname'].notnull().sum()

In [ ]:
df.Name.hasnans

In [ ]:
# dropna
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, None, 30, 22],
    'Score': [85, 92, None, 78],
    'Gender': ['Female', 'Male', None, 'Male']
}
temp = pd.DataFrame(data)
temp

In [ ]:
temp.dropna(how="all")

In [ ]:
temp.dropna(axis=1,how="all")

In [ ]:
temp.dropna(subset=["Age","Gender"])

In [ ]:
#fillna
temp.fillna(temp['Age'].mean())

In [ ]:
temp

In [ ]:
temp.fillna(method='ffill')  # Forward fill

In [ ]:
temp.fillna(method = 'bfill')

In [ ]:
temp.interpolate()

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice', 'Eva', 'Bob','Nate'],
    'Age': [25, 30, 22, 28, 25, 26, 30,30],
    'Score': [85, 92, 78, 80, 85, 90, 92,92]
}

temp = pd.DataFrame(data)
temp

In [ ]:
temp.duplicated()

In [ ]:
~temp.duplicated()

In [ ]:
temp[~temp.duplicated()]

In [ ]:
temp.drop_duplicates()

In [ ]:
temp.drop_duplicates(subset=['Age','Score'])

In [ ]:
temp.drop_duplicates(subset=['Score'])

In [ ]:
temp

In [ ]:
temp.drop_duplicates(keep=False)

In [ ]:
# find the last match played by MS Dhoni in Chennai

In [ ]:
ipl

In [ ]:
ipl['Team1Players'][15]

In [ ]:
# find the last match played by virat kohli in Delhi
ipl['All_players'] = ipl['Team1Players'] + ipl['Team2Players']
ipl.head()

In [ ]:
l=['R Sharma','MS Dhoni']

In [ ]:
ipl['All_players'].apply(lambda x :'V Kohli' in x )

In [ ]:
ipl['Did_Kohli_played'] = ipl['All_players'].str.contains('V Kohli')
ipl['Did_Dhoni_played'] = ipl['All_players'].str.contains('MS Dhoni')

In [ ]:
mask1 = ipl['All_players'].str.contains('MS Dhoni')
mask2 = ipl['City'] == 'Chennai'

ipl[mask1 & mask2].sort_values('Date').drop_duplicates(subset=['City','Did_Dhoni_played'],keep = 'last')

In [ ]:
mask1 = ipl['All_players'].str.contains('V Kohli')
mask2 = ipl['City'] == 'Delhi'

ipl[mask1 & mask2].sort_values('Date').drop_duplicates(subset=['City','Did_Kohli_played'],keep = 'last')

In [ ]:
movies.duplicated().sum()

---

In [ ]:
movies = pd.read_csv('Data/imdb-top-1000.csv')

In [ ]:
movies.head()

In [ ]:
movies.iloc[863]

In [ ]:
movies.groupby('Released_Year').get_group('1962').sort_values('Gross',ascending= False)

In [ ]:
movies.groupby('Released_Year').get_group('1962')['Gross'].idxmax()

In [ ]:
# find the total earnings by each year
movies.groupby('Released_Year')['Gross'].sum().sort_values(ascending= False)[0:3]

In [ ]:
# find the top 3 genres by total earning
movies.groupby('Genre')['Gross'].sum().sort_values(ascending= False)[0:3]

In [ ]:
# find the genre with highest avg IMDB rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending = False)

In [ ]:
movies.groupby(by= 'Released_Year')['Series_Title'].count().sort_index(ascending= False)[1:]

In [ ]:
# find director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).idxmax()

In [ ]:
# find number of movies done by each actor
# movies['Star1'].value_counts()
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False).head(1)

In [ ]:
# ACTORS WITH HIGHEST EARNINGS
movies.groupby('Star1')['Gross'].sum().sort_values(ascending=False).head().reset_index()

In [ ]:
movies['Star1'].value_counts()

In [ ]:
# get_group
movies.groupby('Genre').get_group('Drama')

In [ ]:
movies

In [ ]:
# Highest total income by a director star duo
movies.groupby(['Director','Star1'])['Gross'].sum().sort_values(ascending=False)

In [ ]:
movies.groupby(['Director','Star1']).get_group(('Christopher Nolan','Christian Bale'))

In [3]:
df = pd.read_excel('Data/fighter_details.xlsx')
df

,Name,Nickname,Division Title,Division Body_Wins,Division Body_Losses,Division Body_Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
0,Francisco Prado,Null,Lightweight Division,11,1,0,Active,"San Lorenzo , Argentina",20,70.0,154.5,"Feb. 11, 2023",69.0,37.98,28 (100%),0 (0%),0 (0%),5 (45%),0 (0%),6 (55%),28,75,NaN,2,37%,0%,5.0,6.0,8.0,1.87,3.93,0.00,1.00,43%,25%,0.00,15:00,UFC 284,284.0,Mullarkey vs Prado,"Feb. 11, 2023","['Pro since 2019', 'Five wins by KO, six by su...",['UFC 284 (2/11/23) Prado lost a three round u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jos Henrique,Null,Welterweight Division,0,1,0,Not Fighting,"Manaus, Brazil",20,NaN,171.0,"May. 29, 2023",NaN,NaN,37 (100%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),37,85,Null,Null,44%,NaN,NaN,NaN,NaN,3.45,5.79,0.00,0.00,39%,0.00,10:43,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
2,Rei Tsuruya,Null,Null,Null,Null,Null,Active,Japan,20,NaN,NaN,"May. 29, 2023",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
3,Takeru Uchida,Null,Flyweight Division,1,0,0,Active,NaN,20,NaN,125.5,"Jun. 09, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,4.37,0.00,03:26,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
4,Yamato Nishikawa,Null,Lightweight Division,0,0,0,Not Fighting,Japan,20,NaN,NaN,"Oct. 22, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,00:00,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559,Patrick Smith,Null,Heavyweight Division,4,2,0,Not Fighting,"Denver, United States",59,74.0,225.0,"Nov. 12, 1993",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 6,6.0,Smith vs Moncayo,"Jul. 14, 1995",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2560,Paul Jones,Null,Middleweight Division,0,0,0,Not Fighting,United States,59,0.0,0.0,"Jul. 16, 1999",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 22,22.0,Liddell vs Jones,"Sep. 24, 1999",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2561,Randy Couture,The Natural,Light Heavyweight Division,19,11,0,Retired,United States,59,74.0,204.0,"May. 30, 1997",75.0,NaN,206 (29%),213 (30%),289 (41%),0 (0%),0 (0%),0 (0%),708,1221,NaN,98,58%,47%,NaN,NaN,NaN,2.85,1.53,2.78,0.48,59%,58%,0.06,12:25,UFC 129,129.0,Machida vs Couture,"Apr. 30, 2011",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2562,Marco Ruas,Null,Heavyweight Division,0,0,0,Not Fighting,Brazil,60,0.0,0.0,"Sep. 08, 1995",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 21,21.0,Smith vs Ruas,"Jul. 16, 1999",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2563,Tony Halme,Null,Heavyweight Division,0,0,0,Not Fighting,"Helsinki, Finland",60,0.0,0.0,"May. 30, 1997",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,UFC 13,13.0,Couture vs Halme,"May. 30, 1997",[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.rename(columns={'Division Title' : 'Division',
                  'Division Body_Wins':'Wins',
                  'Division Body_Losses' : 'Losses',
                  'Division Body_Draws': 'Draws'},inplace=True)

In [6]:
df.head()

,Name,Nickname,Division,Wins,Losses,Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
0,Francisco Prado,Null,Lightweight Division,11,1,0,Active,"San Lorenzo , Argentina",20,70.0,154.5,"Feb. 11, 2023",69.0,37.98,28 (100%),0 (0%),0 (0%),5 (45%),0 (0%),6 (55%),28,75,NaN,2,37%,0%,5.0,6.0,8.0,1.87,3.93,0.0,1.00,43%,25%,0.00,15:00,UFC 284,284.0,Mullarkey vs Prado,"Feb. 11, 2023","['Pro since 2019', 'Five wins by KO, six by su...",['UFC 284 (2/11/23) Prado lost a three round u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jos Henrique,Null,Welterweight Division,0,1,0,Not Fighting,"Manaus, Brazil",20,NaN,171.0,"May. 29, 2023",NaN,NaN,37 (100%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),37,85,Null,Null,44%,NaN,NaN,NaN,NaN,3.45,5.79,0.0,0.00,39%,0.00,10:43,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
2,Rei Tsuruya,Null,Null,Null,Null,Null,Active,Japan,20,NaN,NaN,"May. 29, 2023",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
3,Takeru Uchida,Null,Flyweight Division,1,0,0,Active,NaN,20,NaN,125.5,"Jun. 09, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,4.37,0.00,03:26,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN
4,Yamato Nishikawa,Null,Lightweight Division,0,0,0,Not Fighting,Japan,20,NaN,NaN,"Oct. 22, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,00:00,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Calculate the average age of athletes in each division.
df.groupby('Division')['Bio Data_Age'].mean().sort_values(ascending=False)

Division
Heavyweight Division              40.506383
Middleweight Division             38.569733
Light Heavyweight Division        38.323810
Welterweight Division             37.184466
Lightweight Division              35.975610
Women's Bantamweight Division     34.224138
Women's Featherweight Division    33.714286
Bantamweight Division             33.401606
Featherweight Division            33.192000
Flyweight Division                32.163399
Women's Strawweight Division      32.070000
Women's Flyweight Division        31.402439
Null                              30.166667
Name: Bio Data_Age, dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564 entries, 0 to 2563
Data columns (total 50 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          2564 non-null   object
 1   Nickname                      2564 non-null   object
 2   Division                      2552 non-null   object
 3   Wins                          2522 non-null   float64
 4   Losses                        2564 non-null   object
 5   Draws                         2564 non-null   object
 6   Bio Data_Status               2564 non-null   object
 7   Bio Data_Hometown             2412 non-null   object
 8   Bio Data_Age                  2564 non-null   int64
 9   Bio Data_Height               2331 non-null   float64
 10  Bio Data_Weight               2489 non-null   float64
 11  Bio Data_Octagon Debut        2564 non-null   object
 12  Bio Data_Reach                1692 non-null   float64
 13  Bio Data_Leg reach            1432 non-null   float64
 14  Stats_Standing                2564 non-null   object
 15  Stats_Clinch                  2564 non-null   object
 16  Stats_Ground                  2564 non-null   object
 17  Stats_KOTKO                   2564 non-null   object
 18  Stats_DEC                     2564 non-null   object
 19  Stats_SUB                     2564 non-null   object
 20  Sig. Strikes Landed           2564 non-null   object
 21  Sig. Strikes Attempted        2564 non-null   object
 22  Takedowns Landed              1280 non-null   object
 23  Takedowns Attempted           2564 non-null   object
 24  Striking accuracy             2345 non-null   object
 25  Takedown Accuracy             2095 non-null   object
 26  Records_Wins by Knockout      988 non-null    float64
 27  Records_Wins by Submission    871 non-null    float64
 28  Records_First Round Finishes  597 non-null    float64
 29  Records_Sig. Str. Landed      2407 non-null   object
 30  Records_Sig. Str. Absorbed    2352 non-null   float64
 31  Records_Takedown avg          2352 non-null   float64
 32  Records_Submission avg        2352 non-null   float64
 33  Records_Sig. Str. Defense     2564 non-null   object
 34  Records_Takedown Defense      2564 non-null   object
 35  Records_Knockdown Avg         2345 non-null   object
 36  Records_Average fight time    1977 non-null   object
 37  Last Fight_Event              817 non-null    object
 38  Last Fight_Fight Number       817 non-null    float64
 39  Last Fight_Matchup            817 non-null    object
 40  Last Fight_Date               817 non-null    object
 41  Fighter Facts                 2564 non-null   object
 42  UFC History                   2564 non-null   object
 43  Last Fight                    1747 non-null   object
 44  Bio Data_Fighting style       824 non-null    object
 45  Bio Data_Trains at            836 non-null    object
 46  Records_Wins by Decision      289 non-null    float64
 47  Records_Fight Win Streak      82 non-null     float64
 48  Records_Former Champion       1 non-null      float64
 49  Records_Title Defenses        12 non-null     float64
dtypes: float64(16), int64(1), object(33)
memory usage: 1001.7+ KB

In [16]:
df['Losses'].isnull().sum()

0

In [15]:
df['Losses'].unique()

array(['1', 'Null', '0', '5', '2', '3', '6', '4', '7', '8', '11', '9',
       '10', '14', '12', '13', '18', '16', '15', '19', '17', '21', '20',
       '22'], dtype=object)

In [13]:
df['Wins'] = df['Wins'].replace('Null', pd.NA)
df['Wins'] = pd.to_numeric(df['Wins'], errors='coerce')

In [17]:
df['Losses'] = df['Losses'].replace({'Null': pd.NA,'<NA>':pd.NA})
df['Losses'] = pd.to_numeric(df['Losses'], errors='coerce')

In [18]:
# Calculate the total number of wins and losses for each division.
df.groupby('Division')[['Wins','Losses']].sum()

                                  Wins  Losses
Division
Bantamweight Division           3103.0  1153.0
Featherweight Division          3210.0  1132.0
Flyweight Division              1563.0   577.0
Heavyweight Division            2607.0   942.0
Light Heavyweight Division      2545.0   977.0
Lightweight Division            5242.0  1929.0
Middleweight Division           4143.0  1494.0
Null                               0.0     0.0
Welterweight Division           5618.0  2118.0
Women's Bantamweight Division    489.0   225.0
Women's Featherweight Division   138.0    45.0
Women's Flyweight Division       758.0   358.0
Women's Strawweight Division     882.0   403.0

In [22]:
df['Bio Data_Fighting style'].fillna('unknown',inplace=True)

In [23]:
df['Bio Data_Fighting style'].isnull().sum()

0

In [24]:
df['Bio Data_Fighting style'].unique()

array(['unknown', 'Striker', 'Wrestling', 'MMA', 'Wrestler', 'Freestyle',
       'Grappler', 'Jiu-Jitsu', 'Boxing', 'Brazilian Jiu-Jitsu',
       'Kickboxer', 'Boxer', 'Karate', 'Muay Thai', 'Taekwondo', 'Judo',
       'Kung Fu', 'Sambo', 'Brawler', 'Kung-Fu'], dtype=object)

In [30]:
# Find the most common fighting style among athletes.
temp = df.groupby("Bio Data_Fighting style")['Name'].count().reset_index()

In [61]:
result = temp.nlargest(2,'Name').iloc[-1]['Bio Data_Fighting style']
print(f"The most common fighting styles among the atheletes is {result}.")

The most common fighting styles among the atheletes is MMA.

In [42]:
df.groupby('Bio Data_Fighting style')['Name'].count().idxmax()

'unknown'

In [43]:
df.head()

,Name,Nickname,Division,Wins,Losses,Draws,Bio Data_Status,Bio Data_Hometown,Bio Data_Age,Bio Data_Height,Bio Data_Weight,Bio Data_Octagon Debut,Bio Data_Reach,Bio Data_Leg reach,Stats_Standing,Stats_Clinch,Stats_Ground,Stats_KOTKO,Stats_DEC,Stats_SUB,Sig. Strikes Landed,Sig. Strikes Attempted,Takedowns Landed,Takedowns Attempted,Striking accuracy,Takedown Accuracy,Records_Wins by Knockout,Records_Wins by Submission,Records_First Round Finishes,Records_Sig. Str. Landed,Records_Sig. Str. Absorbed,Records_Takedown avg,Records_Submission avg,Records_Sig. Str. Defense,Records_Takedown Defense,Records_Knockdown Avg,Records_Average fight time,Last Fight_Event,Last Fight_Fight Number,Last Fight_Matchup,Last Fight_Date,Fighter Facts,UFC History,Last Fight,Bio Data_Fighting style,Bio Data_Trains at,Records_Wins by Decision,Records_Fight Win Streak,Records_Former Champion,Records_Title Defenses
0,Francisco Prado,Null,Lightweight Division,11.0,1.0,0,Active,"San Lorenzo , Argentina",20,70.0,154.5,"Feb. 11, 2023",69.0,37.98,28 (100%),0 (0%),0 (0%),5 (45%),0 (0%),6 (55%),28,75,NaN,2,37%,0%,5.0,6.0,8.0,1.87,3.93,0.0,1.00,43%,25%,0.00,15:00,UFC 284,284.0,Mullarkey vs Prado,"Feb. 11, 2023","['Pro since 2019', 'Five wins by KO, six by su...",['UFC 284 (2/11/23) Prado lost a three round u...,NaN,unknown,NaN,NaN,NaN,NaN,NaN
1,Jos Henrique,Null,Welterweight Division,0.0,1.0,0,Not Fighting,"Manaus, Brazil",20,NaN,171.0,"May. 29, 2023",NaN,NaN,37 (100%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),37,85,Null,Null,44%,NaN,NaN,NaN,NaN,3.45,5.79,0.0,0.00,39%,0.00,10:43,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,unknown,NaN,NaN,NaN,NaN,NaN
2,Rei Tsuruya,Null,Null,NaN,NaN,Null,Active,Japan,20,NaN,NaN,"May. 29, 2023",NaN,NaN,Null,Null,Null,Null,Null,Null,Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,unknown,NaN,NaN,NaN,NaN,NaN
3,Takeru Uchida,Null,Flyweight Division,1.0,0.0,0,Active,NaN,20,NaN,125.5,"Jun. 09, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.0,4.37,0.00,03:26,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,unknown,NaN,NaN,NaN,NaN,NaN
4,Yamato Nishikawa,Null,Lightweight Division,0.0,0.0,0,Not Fighting,Japan,20,NaN,NaN,"Oct. 22, 2022",NaN,NaN,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),0 (0%),Null,Null,Null,Null,NaN,NaN,NaN,NaN,NaN,00:00,NaN,NaN,NaN,Null,Null,NaN,NaN,NaN,NaN,NaN,NaN,[],[],No information is available for the last fight.,unknown,NaN,NaN,NaN,NaN,NaN

In [44]:
# Calculate the average striking accuracy for athletes in different age groups.
# Define the bins
bins = [20, 30, 40, 50, 60]

df['Age_Category']= pd.cut(df['Bio Data_Age'], bins)

In [46]:
df['Age_Category'].unique()

[NaN, (20.0, 30.0], (30.0, 40.0], (40.0, 50.0], (50.0, 60.0]]
Categories (4, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60]]

In [49]:
df['Striking accuracy']= df['Striking accuracy'].str.rstrip("%").astype(float)

In [50]:
df['Striking accuracy'].fillna(0,inplace=True)

In [51]:
df.groupby('Age_Category')['Striking accuracy'].mean()

Age_Category
(20, 30]    41.575960
(30, 40]    41.652434
(40, 50]    39.342256
(50, 60]    27.519608
Name: Striking accuracy, dtype: float64

In [52]:
df.groupby('Division')['Striking accuracy'].mean()

Division
Bantamweight Division             41.248996
Featherweight Division            41.912000
Flyweight Division                39.300654
Heavyweight Division              39.621277
Light Heavyweight Division        44.295238
Lightweight Division              39.897561
Middleweight Division             41.388724
Null                               0.000000
Welterweight Division             41.970874
Women's Bantamweight Division     39.206897
Women's Featherweight Division    47.428571
Women's Flyweight Division        44.134146
Women's Strawweight Division      44.440000
Name: Striking accuracy, dtype: float64

In [ ]:
df['']

In [65]:
# Count the number of athletes in each combination of fighting style and division.
df.groupby(['Division','Bio Data_Fighting style'])['Name'].count().reset_index()
#.pivot(index='Division',columns='Bio Data_Fighting style')

                         Division Bio Data_Fighting style  Name
0           Bantamweight Division                   Boxer     5
1           Bantamweight Division                  Boxing     1
2           Bantamweight Division     Brazilian Jiu-Jitsu     8
3           Bantamweight Division               Freestyle    25
4           Bantamweight Division                Grappler     1
..                            ...                     ...   ...
167  Women's Strawweight Division                     MMA    13
168  Women's Strawweight Division               Muay Thai     8
169  Women's Strawweight Division                 Striker     9
170  Women's Strawweight Division               Wrestling     1
171  Women's Strawweight Division                 unknown    48

[172 rows x 3 columns]

In [56]:
df.pivot_table(index='Division',columns='Bio Data_Fighting style',values='Name',aggfunc='count')

Bio Data_Fighting style,Boxer,Boxing,Brawler,Brazilian Jiu-Jitsu,Freestyle,Grappler,Jiu-Jitsu,Judo,Karate,Kickboxer,Kung Fu,Kung-Fu,MMA,Muay Thai,Sambo,Striker,Taekwondo,Wrestler,Wrestling,unknown
Division,,,,,,,,,,,,,,,,,,,,
Bantamweight Division,5.0,1.0,NaN,8.0,25.0,1.0,5.0,NaN,2.0,2.0,NaN,NaN,27.0,10.0,NaN,6.0,NaN,4.0,4.0,149.0
Featherweight Division,2.0,3.0,NaN,3.0,22.0,3.0,10.0,1.0,2.0,3.0,NaN,NaN,32.0,4.0,NaN,12.0,NaN,2.0,2.0,149.0
Flyweight Division,NaN,3.0,1.0,1.0,9.0,3.0,9.0,NaN,NaN,1.0,NaN,NaN,11.0,2.0,NaN,6.0,NaN,1.0,1.0,105.0
Heavyweight Division,2.0,4.0,1.0,1.0,5.0,1.0,4.0,1.0,NaN,4.0,NaN,NaN,16.0,2.0,1.0,9.0,NaN,2.0,2.0,180.0
Light Heavyweight Division,3.0,NaN,1.0,2.0,5.0,1.0,3.0,NaN,3.0,3.0,NaN,NaN,20.0,4.0,1.0,11.0,NaN,2.0,1.0,150.0
Lightweight Division,3.0,5.0,1.0,3.0,21.0,4.0,13.0,1.0,NaN,5.0,NaN,NaN,41.0,4.0,1.0,15.0,1.0,1.0,2.0,289.0
Middleweight Division,2.0,6.0,NaN,4.0,8.0,2.0,1.0,1.0,1.0,3.0,2.0,1.0,33.0,6.0,1.0,10.0,NaN,3.0,2.0,251.0
Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0
Welterweight Division,4.0,4.0,1.0,6.0,18.0,3.0,5.0,NaN,2.0,6.0,1.0,NaN,26.0,4.0,1.0,19.0,NaN,NaN,4.0,308.0
Women's Bantamweight Division,NaN,NaN,NaN,2.0,4.0,NaN,2.0,2.0,NaN,3.0,NaN,NaN,9.0,3.0,1.0,5.0,NaN,1.0,NaN,26.0
Women's Featherweight Division,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,5.0
Women's Flyweight Division,1.0,3.0,2.0,1.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0,NaN,18.0,9.0,NaN,7.0,1.0,NaN,1.0,26.0
Women's Strawweight Division,NaN,2.0,NaN,3.0,4.0,2.0,5.0,2.0,1.0,2.0,NaN,NaN,13.0,8.0,NaN,9.0,NaN,NaN,1.0,48.0

In [57]:
df.pivot_table(index='Division',columns='Bio Data_Fighting style',values='Bio Data_Age',aggfunc='mean')

Bio Data_Fighting style,Boxer,Boxing,Brawler,Brazilian Jiu-Jitsu,Freestyle,Grappler,Jiu-Jitsu,Judo,Karate,Kickboxer,Kung Fu,Kung-Fu,MMA,Muay Thai,Sambo,Striker,Taekwondo,Wrestler,Wrestling,unknown
Division,,,,,,,,,,,,,,,,,,,,
Bantamweight Division,29.400000,30.000000,NaN,32.625000,31.320000,30.000000,30.800000,NaN,27.5,35.500000,NaN,NaN,30.777778,35.300000,NaN,34.000000,NaN,30.000000,32.00,34.563758
Featherweight Division,34.000000,28.000000,NaN,28.333333,32.545455,33.666667,31.700000,27.0,30.0,33.000000,NaN,NaN,30.625000,32.500000,NaN,30.500000,NaN,29.500000,36.00,34.456376
Flyweight Division,NaN,32.666667,30.0,30.000000,32.222222,30.666667,31.444444,NaN,NaN,29.000000,NaN,NaN,28.181818,31.500000,NaN,29.833333,NaN,22.000000,26.00,33.038095
Heavyweight Division,39.000000,31.250000,38.0,34.000000,34.200000,41.000000,34.500000,35.0,NaN,34.750000,NaN,NaN,33.937500,32.500000,28.0,32.666667,NaN,31.000000,34.00,42.555556
Light Heavyweight Division,35.333333,NaN,34.0,33.000000,35.400000,28.000000,38.333333,NaN,32.0,31.000000,NaN,NaN,31.350000,34.250000,29.0,34.090909,NaN,29.000000,42.00,40.433333
Lightweight Division,29.333333,31.400000,32.0,28.333333,31.857143,30.750000,33.000000,38.0,NaN,30.800000,NaN,NaN,30.365854,30.000000,31.0,30.733333,31.0,36.000000,29.50,38.034602
Middleweight Division,32.500000,30.333333,NaN,36.750000,32.500000,30.500000,27.000000,36.0,41.0,34.000000,32.5,35.0,31.606061,34.333333,30.0,33.100000,NaN,29.666667,33.50,40.681275
Null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.166667
Welterweight Division,33.500000,31.750000,42.0,34.000000,32.722222,36.666667,37.600000,NaN,35.0,32.500000,30.0,NaN,31.961538,33.750000,28.0,30.526316,NaN,NaN,31.75,38.733766
Women's Bantamweight Division,NaN,NaN,NaN,28.000000,33.500000,NaN,39.000000,32.5,NaN,37.666667,NaN,NaN,31.444444,34.000000,32.0,33.400000,NaN,42.000000,NaN,35.115385
Women's Featherweight Division,39.000000,NaN,NaN,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,28.0,NaN,33.750000,28.500000,NaN,NaN,NaN,NaN,NaN,36.600000
Women's Flyweight Division,32.000000,32.666667,33.5,29.000000,27.666667,29.333333,24.666667,29.0,33.0,25.000000,33.0,NaN,32.277778,32.888889,NaN,30.714286,26.0,NaN,21.00,32.500000
Women's Strawweight Division,NaN,32.000000,NaN,30.333333,31.250000,32.500000,33.400000,29.0,37.0,33.500000,NaN,NaN,28.769231,32.250000,NaN,30.444444,NaN,NaN,37.00,33.125000

In [60]:
import seaborn as sns
tips_data = sns.load_dataset('tips')
tips_data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [62]:
tips_data.groupby(['sex','smoker'])['total_bill'].mean()

sex     smoker
Male    Yes       22.284500
        No        19.791237
Female  Yes       17.977879
        No        18.105185
Name: total_bill, dtype: float64

In [68]:
tips_data.pivot_table(index='sex', columns='smoker',values='total_bill', aggfunc='mean',margins=True)

smoker        Yes         No        All
sex
Male    22.284500  19.791237  20.744076
Female  17.977879  18.105185  18.056897
All     20.756344  19.188278  19.785943

In [94]:
# Create sample data
students = pd.DataFrame({
    'Student_ID': [101, 102, 103, 104, 105, 106],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve','nate']
})

scores = pd.DataFrame({
    'Student_ID': [101, 102, 103, 104, 105,107],
    'Math_Score': [85, 90, 75, 88, 92,88],
    'Science_Score': [78, 85, 70, 92, 85,99]
})

courses = pd.DataFrame({
    'Course_ID': [1, 2, 3],
    'Course_Name': ['Math', 'Science', 'History']
})

enrollments = pd.DataFrame({
    'Student_ID': [101, 102, 103, 105],
    'Course_ID': [1, 2, 3, 1]
})

In [95]:
students

   Student_ID     Name
0         101    Alice
1         102      Bob
2         103  Charlie
3         104    David
4         105      Eve
5         106     nate

In [96]:
scores

   Student_ID  Math_Score  Science_Score
0         101          85             78
1         102          90             85
2         103          75             70
3         104          88             92
4         105          92             85
5         107          88             99

In [97]:
courses

   Course_ID Course_Name
0          1        Math
1          2     Science
2          3     History

In [98]:
enrollments

   Student_ID  Course_ID
0         101          1
1         102          2
2         103          3
3         105          1

In [99]:
## Merge
pd.merge(students, scores, on='Student_ID', how='inner')

   Student_ID     Name  Math_Score  Science_Score
0         101    Alice          85             78
1         102      Bob          90             85
2         103  Charlie          75             70
3         104    David          88             92
4         105      Eve          92             85

In [100]:
pd.merge(students, scores, on='Student_ID', how='outer')

   Student_ID     Name  Math_Score  Science_Score
0         101    Alice        85.0           78.0
1         102      Bob        90.0           85.0
2         103  Charlie        75.0           70.0
3         104    David        88.0           92.0
4         105      Eve        92.0           85.0
5         106     nate         NaN            NaN
6         107      NaN        88.0           99.0

In [101]:
merged_data = pd.merge(enrollments, courses, on='Course_ID')
merged_data

   Student_ID  Course_ID Course_Name
0         101          1        Math
1         105          1        Math
2         102          2     Science
3         103          3     History

In [102]:
merged_data = pd.merge(merged_data, students, on='Student_ID')
merged_data= pd.merge(merged_data, scores, on='Student_ID')
merged_data

   Student_ID  Course_ID Course_Name     Name  Math_Score  Science_Score
0         101          1        Math    Alice          85             78
1         105          1        Math      Eve          92             85
2         102          2     Science      Bob          90             85
3         103          3     History  Charlie          75             70

In [89]:
students

   Student_ID     Name
0         101    Alice
1         102      Bob
2         103  Charlie
3         104    David
4         105      Eve
5         106     nate

In [90]:
scores

   Student_ID  Math_Score  Science_Score
0         101          85             78
1         102          90             85
2         103          75             70
3         104          88             92
4         105          92             85
5         107          88             99

In [104]:
pd.concat([students, scores] , axis=1)

   Student_ID     Name  Student_ID  Math_Score  Science_Score
0         101    Alice         101          85             78
1         102      Bob         102          90             85
2         103  Charlie         103          75             70
3         104    David         104          88             92
4         105      Eve         105          92             85
5         106     nate         107          88             99

In [103]:
pd.concat([students, scores])

   Student_ID     Name  Math_Score  Science_Score
0         101    Alice         NaN            NaN
1         102      Bob         NaN            NaN
2         103  Charlie         NaN            NaN
3         104    David         NaN            NaN
4         105      Eve         NaN            NaN
5         106     nate         NaN            NaN
0         101      NaN        85.0           78.0
1         102      NaN        90.0           85.0
2         103      NaN        75.0           70.0
3         104      NaN        88.0           92.0
4         105      NaN        92.0           85.0
5         107      NaN        88.0           99.0